.cover{
    max-width: 1184px;
    height: 594px;
    margin: 102px auto 0 auto;
    position: relative;
    z-index: 0;
    background-image: url("../../images/station-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
@media screen and (max-width : 1024px){
    .cover{
        width: 100%;
        height: 562px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}