.cover{
    width: 1184px;
    height: 594px;
    margin: 102px auto 0 auto;
    position: relative;
    z-index: 0;
    background-image: url("../../images/station-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
}