.intro__title{
    font-size: 54px;
    font-weight: 900;
    line-height: 108.9%;
}


@media screen and (max-width : 734px) {
    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}