.intro__title{
    font-size: 54px;
    font-weight: 900;
    line-height: 108.9%;
}


@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}