@import url("./header__logo.css");
@import url("./header__lang_underlined.css");
@import url("./header__lang.css");
.header{
    max-width: 1184px;
    height: 52px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}
@media screen and (max-width : 1280px){
    .header{
        width: calc(1184vw / 1280 * 100);
    }
}
@media screen and (max-width : 1024px){
    .header{
        width: calc(100vw - 96px);
    }
}
@media screen and (max-width : 768px){
    .header{
        width: calc(100vw - 48px);
    }
}
@media (max-width : 375px) {
    .header{
        margin-top: 16px;
        width: calc(100vw - 32px);
    }
}