.header{
    max-width: 1184px;
    height: 52px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}
@media (max-width : 1024px){
    .header{
        max-width: 928px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}