.comments__container-comment-author{
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
}
.comments__container-comment-author:nth-of-type(odd){
    display: none;
}
@media screen and (max-width : 768px){
    .comments__container-comment-author:nth-of-type(odd){
        display: block;
    }
    .comments__container-comment-author:nth-of-type(even){
        display: none;
    }
    .comments__container-comment-author{
        margin-top: 16px;
    }
}