.comments{
    max-width: 1184px;
    margin: 102px auto 0 auto;
}
@media screen and (max-width : 1024px){
    .comments{
        max-width: 928px;
    }
}
@media (max-width : 768px) {

}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}