.lead{
    max-width: 985px;
    margin: 48px auto 0 auto;
}

@media screen and (max-width : 1024px){
   .lead{
       max-width: 928px;
   }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}