.footer{
    max-width: 1184px;
    margin: 160px auto 48px auto;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width : 1024px){
    .footer{
        max-width: 928px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}