.additional__container-item-title{
    position: absolute;
    left: 18px;
    top: 30px;
    width: 248px;
    font-weight: 900;
    font-size: 27px;
    line-height: 29px;
    z-index: 2;
    margin: 0;
}