.additional__container-item-text{
    width: 248px;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    position: absolute;
    bottom: 30px;
    left: 18px;
    z-index: 2;
}