.place__image{
    width: 460px;
    height: 460px;
}
@media screen and (max-width : 1024px){
    .place__image{
        width: 440px;
        height: 440px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}