.place__title{
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: white;
    margin-bottom: 60px;
    margin-top: 0;
}
@media screen and (max-width : 1024px){
    .place__title{
        margin-bottom: 40px;
        width:  calc(440vw / 1024 * 100);
    }
}
@media screen and (max-width : 884px){
    .place__title{
        font-size: 43px;
        line-height: 46px;
    }
}
@media screen and (max-width : 768px) {
    .place__title{
        width: calc(340vw / 768 * 100);
    }
}
@media screen and (max-width : 550px){
    .place__title{
        margin: 0 0 32px 0;
        width: calc(100vw - 32px);
        margin-right: 16px;
        margin-left: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}