.place__address{
    height: 46px;
    width: 484px;
    align-self: flex-end;
    margin-bottom: 60px;
}
@media screen and (max-width : 1024px){
    .place__address{
        width: 44.5vw;
        margin-bottom: 40px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}