.places{
    margin: 92px auto 0 auto;
    width: 984px;
}
@media screen and (max-width : 1024px){
    .places{
        max-width: 928px;
        margin-top: 102px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}