.place__image{
    width: 460px;
    height: 460px;
    object-fit: cover;
    display: block;
}
@media screen and (max-width : 1024px){
    .place__image{
        width: 42.9vw;
        height: 42.9vw;
    }
}
@media screen and (max-width : 768px) {
    .place__image{
        width: 44.2vw;
    }
    .place__image:after{
        padding-bottom: 100%;
    }
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}