.place__paragraph-text{
    font-size: 18px;
    line-height: 30px;
    max-width: 484px;
}
@media screen and (max-width : 1024px){
    .place__paragraph-text{
        max-width: 456px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}