.place__paragraph:not(:nth-child(1)){
    margin-top: 36px;
}

@media screen and (max-width : 550px){
    .place__paragraph:not(:nth-child(1)){
        margin-top: 24px;
    }
    .place__paragraph{
        margin-top: 24px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}