.place{
    margin-top: 72px;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}
@media screen and (max-width : 1024px){
    .place{
        margin-bottom: 83px;
    }
}
@media screen and (max-width : 550px){
    .place{
        margin-top: 48px;
        margin-bottom: 0;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}