.video__container-box{
    width: 583px;
    height: 323px;
    position: relative;
}
@media screen and (max-width : 1024px){
    .video__container-box{
        max-width: 456px;
        height: 288px;
    }
}
@media (max-width : 768px) {
    /* стили для планшета */
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}