.video__container-box{
    width: 583px;
    height: 323px;
    position: relative;
}
@media screen and (max-width : 1024px){
    .video__container-box{
        width: calc(456vw / 1024 * 100);
        height: 288px;
    }
}
@media (max-width : 768px) {
    .video__container-box{
        width: calc(352vw / 768 * 100);
        height: 200px;
    }
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}