.video{
    max-width: 1184px;
    margin: 102px auto 0 auto;
}
@media screen and (max-width : 1024px){
    .video{
        width: calc(928vw / 1024 * 100);
    }
}
@media (max-width : 768px) {
    .video{
        width: calc(720vw / 768 * 100);
    }
}
@media (max-width : 425px) {
    /* стили для широкого смартфона */
}
@media (max-width : 375px) {
    /* стили для среднего смартфона */
}
@media (max-width : 320px) {
    /* стили для малого смартфона */
}