.video__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto 0 auto;
}
@media screen and (max-width : 800px){
    .video__title{
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width : 550px){
    .video__title{
        font-size: 32px;
        line-height: 35px;
    }
}
@media screen and (max-width : 375px){
    .video__title{
        width: calc(343vw / 375 * 100);
    }
}